<!DOCTYPE html>
<script src="/js/lib/jquery-1.7.2.min.js"></script>
<script data-main="/js/main.js" src="/js/lib/requirejs/require.js"></script>
<html>
  <head>
    <title>Chess</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
	<div class="main">
		<table class="chess-table"/>
	</div>
  </body>
</html>
