<!DOCTYPE html>

<html>
  <head>
    <title>Asimus Public Portal</title>
    <META content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <!--<link rel="stylesheet" href="css/base/jquery.ui.all.css">-->
    <link rel="stylesheet" href="css/as/jquery-ui-1.9.2.custom.min.css">
      
    <link rel='stylesheet' href='/css/main.css'/>
    <script type="text/javascript" src="js/lib/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
    <script type="text/javascript">
      <% if (user) {%>
	var user = {};
	user.email = '<%- user.email %>';
	user.id = '<%- user.id %>';
	user.imei = '<%- user.imei %>';
	<%}%>
      
    </script>
    
    <script data-main="/js/main.js" src="/js/lib/requirejs/require.js"></script>
    
    
  </head>
  <body>
      <div class="navbar navbar-inverse">
      <div class="navbar-inner">
	<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
	       <span class="icon-bar"></span>
	       <span class="icon-bar"></span>
	       <span class="icon-bar"></span>
	</a>
	<a class="brand" href="#">Asimus Portal</a>
	<div class="nav-collapse collapse">
		  <ul class="nav">
		    <li class="active"><a href="#">Forum</a></li>
		    <li><a href="#">Help</a></li>
		  </ul>
		  <ul class="nav pull-right js-user-block" role="navigation">
		  </ul>
        </div>
      </div>
    </div>
	
    <div class="container-fluid">
      <div class="row-fluid">
	    <div class="js-filters-block span4"></div>
            <div class="js-data-block span8"></div>
      </div>
	
    </div>
  </body>
</html>
