<!DOCTYPE html>

<html>
  <head>
    <title>Asimus Public Portal</title>
    <META content="text/html; charset=utf-8" http-equiv="Content-Type">
  </head>
  <body>
    <%- status %>
  </body>
</html>
