<table class="chess-table">
	<tr>
		<td class="td-white"/><td class="td-black"/><td class="td-white"/>
		<td class="td-black"/><td class="td-white"/><td class="td-black"/>
		<td class="td-white"/><td class="td-black"/>
	</tr>
	<tr>
		<td class="td-black"/><td class="td-white"/><td class="td-black"/>
		<td class="td-white"/><td class="td-black"/><td class="td-white"/>
		<td class="td-black"/><td class="td-white"/>
	</tr>
	<tr>
		<td class="td-white"/><td class="td-black"/><td class="td-white"/>
		<td class="td-black"/><td class="td-white"/><td class="td-black"/>
		<td class="td-white"/><td class="td-black"/>
	</tr>
	<tr>
		<td class="td-black"/><td class="td-white"/><td class="td-black"/>
		<td class="td-white"/><td class="td-black"/><td class="td-white"/>
		<td class="td-black"/><td class="td-white"/>
	</tr>

	<tr>
		<td class="td-white"/><td class="td-black"/><td class="td-white"/>
		<td class="td-black"/><td class="td-white"/><td class="td-black"/>
		<td class="td-white"/><td class="td-black"/>
	</tr>
	<tr>
		<td class="td-black"/><td class="td-white"/><td class="td-black"/>
		<td class="td-white"/><td class="td-black"/><td class="td-white"/>
		<td class="td-black"/><td class="td-white"/>
	</tr>
	<tr>
		<td class="td-white"/><td class="td-black"/><td class="td-white"/>
		<td class="td-black"/><td class="td-white"/><td class="td-black"/>
		<td class="td-white"/><td class="td-black"/>
	</tr>
	<tr>
		<td class="td-black"/><td class="td-white"/><td class="td-black"/>
		<td class="td-white"/><td class="td-black"/><td class="td-white"/>
		<td class="td-black"/><td class="td-white"/>
	</tr>
	

</table>


