<table class="treshold-strip">
    <tr>
            <td class="thres_label"><select class="treshold-select"></select></td>
            <td class="red_td">
                <div class="thres_max"><%= treshold.red.high %></div>
            </td>
            <td class="yellow_td">
                <div class="thres_min"><%= treshold.blue.low %></div>
                <div class="thres_max"><%= treshold.blue.high %></div>
            </td>
            <td class="green_td">
                <div class="thres_min"><%= treshold.green.low %></div>
            </td>
    </tr>
</table>

