<li class="dropdown js-dropdown">
    <a class="dropdown-toggle" role="button" href="#">
	Sign In
	<b class="caret"></b>
    </a>
    <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
	<form id="user-signin-form">
            <li>
                <div class="control-group">
                    <input name="email" class="span2" type="text" placeholder="Email">
                    <span class="help-inline" for="email" style="display:none">Enter valid email address</span>
                </div>
            </li>
	    <li>
                <div class="control-group">
                    <input name="password" class="span2" type="password" placeholder="Password">
                    <span class="help-inline" for="password" style="display:none">Password must be minimum 5 characters</span>
                </div>
            </li>
	    <li class="divider"></li>
	    <button class="btn" type="submit">Login</button>
        </form>
    </ul>
		      
</li>


<li class="dropdown js-dropdown">
    <a class="dropdown-toggle" role="button" href="#">
	Sign Up
	<b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu">
	<form id="user-signup-form">
           <li>
                <div class="control-group">
                    <input name="email" class="span2" type="text" placeholder="Email">
                    <span class="help-inline" for="email" style="display:none">Enter valid email address</span>
                </div>
	    <li>
                <div class="control-group">
                    <input name="password" class="span2" type="password" placeholder="Password">
                    <span class="help-inline" for="password" style="display:none">Password must be minimum 5 characters</span>
                </div>
            <li>
                <div class="control-group">
                    <input name="confirm" class="span2" type="password" placeholder="Confirm Password">
                    <span class="help-inline" for="confirm" style="display:none">Password doesn't match</span>
                </div>
            <li class="divider"></li>
	    <button class="btn" type="submit">Creat Account</button>
        </form>
    </ul>
		      
</li>